EXPO_PUBLIC_API_BASE_URL=http://192.168.1.10:3001
EXPO_PUBLIC_LEDGER_API_BASE_URL=http://192.168.1.10:8000
EXPO_PUBLIC_MQTT_BROKER_URL=ws://192.168.1.10/mqtt
EXPO_PUBLIC_MQTT_USERNAME=
EXPO_PUBLIC_MQTT_PASSWORD=
EXPO_PUBLIC_MQTT_CLIENT_ID=hydrigo-mobile
